<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}

<form action="/reset" method="POST">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Change password</h1>
            </div>

            <div class="register-form">

                <div hidden class="control-group">
                    <label for="username_id"></label>
                    <input type="text" class="username_field" value="{{ username }}" placeholder="username" name="username">
                </div>

                <div class="control-group">
                    <label for="password_id"></label>
                    <input type="password" class="password_field" value="" placeholder="password" name="password">
                </div>

                <input type="submit" value="Reset!" class="btn btn-primary btn-large btn-block" >
                <br>
            </div>
        </div>
    </div>
</form>

{% endblock %}
