<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}

<form action="/forgot" method="POST">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Forgot your password?</h1>
            </div>

            We will send you an email with a link to reset your password.

            <div class="register-form">

                <div class="control-group">
                    <label for="username_id"></label>
                    <input type="text" class="username_field" value="" placeholder="username" name="username">
                </div>

                <input type="submit" value="Send email!" class="btn btn-primary btn-large btn-block" >
                <br>
            </div>
        </div>
    </div>
</form>

{% endblock %}
